---

---
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="about" content="LCP">
		<title>LCP</title>
		<meta content="#000049" name="theme-color">
		<link color="#000049" href="/images/mask-icon.svg" rel="mask-icon">
		<link rel="stylesheet" href="style.css">
		<meta property="og:type" content="article">
		<meta property="og:title" content="LCP">
		<meta property="og:description" content="Check out the world of LCP on their really cool website.">
		<meta property="og:site_name" content="LCP's World">
		<meta property="og:url" content="https://lcp.world">
		<meta property="og:image" content="https://lcp.world/images/favicon-196x196.png">
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://lcp.world/images/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://lcp.world/images/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://lcp.world/images/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://lcp.world/images/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://lcp.world/images/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://lcp.world/images/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://lcp.world/images/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://lcp.world/images/apple-touch-icon-152x152.png" />
		<link rel="icon" type="image/png" href="https://lcp.world/images/favicon-196x196.png" sizes="196x196" />
		<link rel="icon" type="image/png" href="https://lcp.world/images/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="https://lcp.world/images/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="https://lcp.world/images/favicon-16x16.png" sizes="16x16" />
		<link rel="icon" type="image/png" href="https://lcp.world/images/favicon-128.png" sizes="128x128" />
		<meta name="application-name" content="LCP's World"/>
		<meta name="msapplication-TileColor" content="#000049" />
		<meta name="msapplication-TileImage" content="https://lcp.world/images/mstile-144x144.png" />
		<meta name="msapplication-square70x70logo" content="https://lcp.world/images/mstile-70x70.png" />
		<meta name="msapplication-square150x150logo" content="https://lcp.world/images/mstile-150x150.png" />
		<meta name="msapplication-wide310x150logo" content="https://lcp.world/images/mstile-310x150.png" />
		<meta name="msapplication-square310x310logo" content="https://lcp.world/images/mstile-310x310.png" />
		<link rel="canonical" href="https://lcp.world/" />
	</head>
	<body class="scanlines">
		<div class="content">
			<div class="profile">
				<div>
				{% include logo.svg %}
				<p class="hidden">
				{% include logo.txt %}
				</p>
				</div>
				<div>
				{% include text.svg %}
				<p class="hidden">
				{% include text.txt %}
				</p>
				</div>
			</div>
			<ul class="navigation">
				{% for social in site.data.items.social %}
				<li class="{{ social.name }}">
					<a href="{{ social.url }}" rel="me" title="{{ social.title }}"><span class="hidden">{{social.title}}</span>{% include {{ social.icon }} %}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</body>
</html>

