html {
	font-family: sans;
	margin: 0;
	padding:0;
	font-family: "Source Sans Pro Light", Ubuntu, Arial, sans-serif;
	font-size:12px;
	height:100vh;
}


body {
	background: #fff;
	margin:0;
	padding:0;
	height:100vh;
	display: flex;
	background:url(images/background.png);
	background-size:4608px 1296px;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
	-webkit-animation:move 300s steps(1536) infinite;
	-moz-animation:move 300s steps(1536) infinite;
	-ms-animation:move 300s steps(1536) infinite;
	animation:move 300s steps(1536) infinite
	z-index: -2;
}
@-webkit-keyframes move{0%{background-position:0 0; }100%{background-position:4608px 0px; }}
@-moz-keyframes move{0%{background-position:0 0; }100%{background-position:4608px 0px; }}
@-ms-keyframes move{0%{background-position:0 0; }100%{background-position:4608px 0px; }}
@keyframes move{0%{background-position:0 0; }100%{background-position:4608px 0px; }}

@-webkit-keyframes font{0%{font-size:0; }100%{font-size:100%; }}
@-moz-keyframes font{0%{font-size:0; }100%{font-size:100%; }}
@-ms-keyframes font{0%{font-size:0; }100%{font-size:100%; }}
@keyframes font{0%{font-size:0; }100%{font-size:100%; }}
.content{
	margin: auto;
	padding: 2rem;
	max-height: calc(100vh - 4rem);
	display: flex;
	flex-direction: column;
}

.profile {
	text-align:center;
}
.profile svg {
	-webkit-filter: drop-shadow(0 0 1px #0000ff) drop-shadow(0 0 40px rgba(255, 255, 255, 0.4));
	filter: drop-shadow(0 0 1px #0000ff) drop-shadow( 0 0 40px rgba(255, 255, 255, 0.4));
	fill:#fff;
}
.profile svg path#lightning {
	animation: lightning 5s linear infinite;
}

@keyframes lightning {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: 0;
	}
	20%,
	21.999%,
	63%,
	63.999%,
	65%,
	69.999% {
		opacity: 0.99;
		-webkit-filter: drop-shadow(0 0 1px #0000ff) drop-shadow(0 0 40px #ffffff);
		filter: drop-shadow(0 0 1px #0000ff) drop-shadow( 0 0 10px #ffffff);
	}
}
ul.navigation {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
}
ul.navigation li {
	display: inline-flex;
	padding: 2em;
	margin-inline-start: auto;
	margin-inline-end: auto;
}
ul.navigation li a svg{
	-webkit-filter: drop-shadow(0 0 1px #0000ff) drop-shadow(0 0 12px rgba(255, 255, 255, 0.4));
	filter: drop-shadow(0 0 1px #0000ff) drop-shadow( 0 0 12px rgba(255, 255, 255, 0.4));
	fill:#fff;
}

ul.navigation li.discord a:hover svg{
	color: #bf62a6;
	fill: #bf62a6;
	border-color:#bf62a6;
}
ul.navigation li.mastodon a:hover svg {
	color: #3584e4;
	fill: #3584e4;
	border-color:#3584e4;
}

ul.navigation li.twitter a:hover svg {
	color: #78c5d6;
	fill: #78c5d6;
	border-color:#78c5d6;
}
ul.navigation li.steam a:hover svg {
	color: #a347ba;
	fill: #a347ba;
	border-color:#a347ba;
}

ul.navigation li.opensuse a:hover svg {
	color: #c5d647;
	fill: #c5d647;
	border-color:#c5d647;
}
ul.navigation li.pixelfed a:hover svg{
	color: #f5d63d;
	fill: #f5d63d;
	border-color:#f5d63d;
}
ul.navigation li.gitlab a:hover svg {
	color: #f28c33;
	fill: #f28c33;
	border-color:#f28c33;
}

ul.navigation li.reddit a:hover svg {
	color: #e01b24;
	fill: #e01b24;
	border-color:#e01b24;
}

ul.navigation li.pronouns a:hover svg {
	color: #c71585;
	fill: #c71585;
	border-color:#c71585;
}

ul.navigation li.github a:hover svg {
	color: #3D3D3D;
	fill: #3D3D3D;
	border-color:#3D3D3D ;
}

.scanlines {
  position: relative;
  overflow: hidden;
}
.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: '';
  position: absolute;
}
.scanlines:before {
  width: 100%;
  height: 1px;
  z-index: 2147483649;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.75;
  -webkit-animation: scanline 6s linear infinite;
          animation: scanline 6s linear infinite;
}
.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483648;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.2) 51%);
  background-size: 100% 2px;
  -webkit-animation: scanlines 1s steps(60) infinite;
          animation: scanlines 1s steps(60) infinite;
}

@-webkit-keyframes scanline {
  0% {
    -webkit-transform: translate3d(0, 200000%, 0);
            transform: translate3d(0, 200000%, 0);
  }
}
@keyframes scanline {
  0% {
    -webkit-transform: translate3d(0, 200000%, 0);
            transform: translate3d(0, 200000%, 0);
  }
}
@-webkit-keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
